<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  </head>
  <body>
    <section class="w-full bg-gradient-to-r from-indigo-500 via-purple-400 to-yellow-100 py-16 px-6 md:px-12 lg:px-24">
  <div class="max-w-7xl mx-auto flex flex-col md:flex-row items-center justify-between gap-8">
    
    <div class="text-left max-w-2xl">
      <h2 class="text-3xl md:text-4xl font-bold text-white mb-4">
        Ready to Elevate Your Workday?
      </h2>
      <p class="text-white/90 text-lg leading-relaxed">
        Discover your next favorite place to focus, connect, and create. Whether you're freelancing solo or scaling a team, Workora has a space just for you.
      </p>
    </div>

    <div class="flex flex-wrap gap-4 items-center">
       <button class="border border-[#4c1d95] text-[#4c1d95] px-8 py-4 rounded-xl font-semibold hover:bg-[#4c1d95] hover:text-white transition-all">
        Book Your Space
      </button>
      <button class="border border-[#4c1d95] text-[#4c1d95] px-8 py-4 rounded-xl font-semibold hover:bg-[#4c1d95] hover:text-white transition-all">
        Contact US
      </button>
    </div>

  </div>
</section>

  </body>
</html>